Backup/ProductManagement/Service References/ProductServiceReference/ProductService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelController.Login" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelController.Login" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Logins">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Logins" nillable="true" type="tns:Logins" />
  <xs:complexType name="ArrayOfLogins">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Logins" nillable="true" type="tns:Logins" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogins" nillable="true" type="tns:ArrayOfLogins" />
</xs:schema>